In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler, Normalizer, PowerTransformer
from sklearn.model_selection import KFold, train_test_split

In [2]:
df = pd.read_csv("biodegradable_a.csv")

In [3]:
df.shape

(4564, 42)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4564 entries, 0 to 4563
Data columns (total 42 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SpMax_L        4564 non-null   float64
 1   J_Dz(e)        4564 non-null   float64
 2   nHM            4564 non-null   float64
 3   F01            4049 non-null   float64
 4   F04            4564 non-null   float64
 5   NssssC         4564 non-null   float64
 6   nCb            4564 non-null   float64
 7   C              3797 non-null   float64
 8   nCp            3893 non-null   float64
 9   nO             4564 non-null   float64
 10  F03            4564 non-null   float64
 11  SdssC          4564 non-null   float64
 12  HyWi_B         4085 non-null   float64
 13  LOC            4564 non-null   float64
 14  SM6_L          4564 non-null   float64
 15  F03_CO         4521 non-null   float64
 16  Me             4116 non-null   float64
 17  Mi             4564 non-null   float64
 18  nN_N           4564 non-null   float64
 19  nArNO2         4564 non-null   float64
 20  nCRX3          4564 non-null   float64
 21  SpPosA_B       4564 non-null   float64
 22  nCIR           4074 non-null   float64
 23  B01            4564 non-null   float64
 24  B03            4564 non-null   float64
 25  N_073          4564 non-null   float64
 26  SpMax_A        3890 non-null   float64
 27  Psi_i_1d       4564 non-null   float64
 28  B04            4564 non-null   float64
 29  SdO            4353 non-null   float64
 30  TI2_L          4564 non-null   float64
 31  nCrt           4306 non-null   float64
 32  C_026          4564 non-null   float64
 33  F02_CN         4564 non-null   float64
 34  nHDon          4564 non-null   float64
 35  SpMax_B        3206 non-null   float64
 36  Psi_i_A        4104 non-null   float64
 37  nN             4564 non-null   float64
 38  SM6_B          4564 non-null   float64
 39  nArCOOR        4564 non-null   float64
 40  nX             3882 non-null   float64
 41  Biodegradable  4564 non-null   object
dtypes: float64(41), object(1)
memory usage: 1.5+ MB

Number of null values is significant. 

## Classification Models

- [ ] Logit
- [ ] LDA
- [ ] SVM
- [ ] Naive Bayes
- [ ] DecisionTree
- [ ] KNN
- [ ] Bagging
- [ ] Boosting

In [ ]:
sns.pairplot( data = df, hue = "Biodegradable" );
plt.show()

In [6]:
#independent 95% - 355

In [7]:
X=df.values
y=df.columns
pd.DataFrame(X,columns=y)

,SpMax_L,J_Dz(e),nHM,F01,F04,NssssC,nCb,C,nCp,nO,...,C_026,F02_CN,nHDon,SpMax_B,Psi_i_A,nN,SM6_B,nArCOOR,nX,Biodegradable
0,3.919,2.6909,0.0,0.0,0.0,0.0,0.0,31.4,2.0,0.0,...,0.0,0.0,0.0,2.949,1.591,0.0,7.253,0.0,0.0,RB
1,4.17,2.1144,0.0,0.0,0.0,0.0,0.0,30.8,1.0,1.0,...,0.0,0.0,0.0,3.315,1.967,0.0,7.257,0.0,0.0,RB
2,3.932,3.2512,0.0,0.0,0.0,0.0,0.0,26.7,2.0,4.0,...,0.0,0.0,1.0,NaN,2.417,0.0,7.601,0.0,0.0,RB
3,3.0,2.7098,0.0,0.0,0.0,0.0,0.0,20.0,NaN,2.0,...,0.0,0.0,1.0,NaN,5.0,0.0,6.69,0.0,0.0,RB
4,4.236,3.3944,0.0,0.0,0.0,0.0,0.0,29.4,2.0,4.0,...,0.0,0.0,0.0,3.351,2.405,0.0,8.003,0.0,NaN,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4559,4.17565,3.454649,0.0,0.0,0.0,0.0,0.0,27.3,2.0,2.0,...,0.0,0.0,0.0,3.398382,3.24109,0.0,7.406748,0.0,0.0,RB
4560,3.853731,2.747142,0.0,NaN,0.0,0.0,0.0,33.3,0.0,0.0,...,0.0,0.0,1.0,3.429148,2.719309,0.0,7.511511,0.0,0.0,RB
4561,4.294771,3.471226,0.0,0.0,0.0,0.0,0.0,28.422154,2.0,2.0,...,0.0,0.0,0.0,3.351666,2.729456,0.0,7.699324,0.0,0.0,RB
4562,4.560376,3.89639,0.0,0.0,0.0,0.0,0.0,NaN,2.0,3.0,...,0.0,0.0,0.0,NaN,3.059198,0.0,7.908802,0.0,0.0,RB
4563,4.045097,2.847185,0.0,0.0,0.0,0.0,0.0,23.386643,1.0,1.0,...,0.0,2.0,2.0,3.032224,2.613357,1.0,6.863314,0.0,0.0,RB

In [8]:
#new biodegradable (new_x):  1 if RB else -1
X = df.drop(columns=["Biodegradable"])
y = df.columns[:41]
new_y = df["Biodegradable"].map(lambda x: 1 if x=='RB' else -1)
pd.DataFrame(X,columns=y)

,SpMax_L,J_Dz(e),nHM,F01,F04,NssssC,nCb,C,nCp,nO,...,nCrt,C_026,F02_CN,nHDon,SpMax_B,Psi_i_A,nN,SM6_B,nArCOOR,nX
0,3.919000,2.690900,0.0,0.0,0.0,0.0,0.0,31.400000,2.0,0.0,...,0.0,0.0,0.0,0.0,2.949000,1.591000,0.0,7.253000,0.0,0.0
1,4.170000,2.114400,0.0,0.0,0.0,0.0,0.0,30.800000,1.0,1.0,...,0.0,0.0,0.0,0.0,3.315000,1.967000,0.0,7.257000,0.0,0.0
2,3.932000,3.251200,0.0,0.0,0.0,0.0,0.0,26.700000,2.0,4.0,...,0.0,0.0,0.0,1.0,NaN,2.417000,0.0,7.601000,0.0,0.0
3,3.000000,2.709800,0.0,0.0,0.0,0.0,0.0,20.000000,NaN,2.0,...,0.0,0.0,0.0,1.0,NaN,5.000000,0.0,6.690000,0.0,0.0
4,4.236000,3.394400,0.0,0.0,0.0,0.0,0.0,29.400000,2.0,4.0,...,0.0,0.0,0.0,0.0,3.351000,2.405000,0.0,8.003000,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4559,4.175650,3.454649,0.0,0.0,0.0,0.0,0.0,27.300000,2.0,2.0,...,0.0,0.0,0.0,0.0,3.398382,3.241090,0.0,7.406748,0.0,0.0
4560,3.853731,2.747142,0.0,NaN,0.0,0.0,0.0,33.300000,0.0,0.0,...,0.0,0.0,0.0,1.0,3.429148,2.719309,0.0,7.511511,0.0,0.0
4561,4.294771,3.471226,0.0,0.0,0.0,0.0,0.0,28.422154,2.0,2.0,...,NaN,0.0,0.0,0.0,3.351666,2.729456,0.0,7.699324,0.0,0.0
4562,4.560376,3.896390,0.0,0.0,0.0,0.0,0.0,NaN,2.0,3.0,...,0.0,0.0,0.0,0.0,NaN,3.059198,0.0,7.908802,0.0,0.0
4563,4.045097,2.847185,0.0,0.0,0.0,0.0,0.0,23.386643,1.0,1.0,...,NaN,0.0,2.0,2.0,3.032224,2.613357,1.0,6.863314,0.0,0.0

In [9]:
#Normalização por Standard Scaler
scaler = StandardScaler()
Xt=scaler.fit_transform(X)
pd.DataFrame(Xt,columns=y)

,SpMax_L,J_Dz(e),nHM,F01,F04,NssssC,nCb,C,nCp,nO,...,nCrt,C_026,F02_CN,nHDon,SpMax_B,Psi_i_A,nN,SM6_B,nArCOOR,nX
0,-1.320531,-0.666887,-0.233216,-0.081516,-0.217059,-0.128692,-0.620189,-0.446565,0.580757,-1.357445,...,-0.097732,-0.368352,-0.320530,-0.670025,-1.096620,-1.694906,-0.391021,-0.981633,-0.220867,-0.147826
1,-0.798293,-1.598449,-0.233216,-0.081516,-0.217059,-0.128692,-0.620189,-0.518970,-0.169371,-0.694838,...,-0.097732,-0.368352,-0.320530,-0.670025,-0.474730,-1.083778,-0.391021,-0.977175,-0.220867,-0.147826
2,-1.293482,0.238498,-0.233216,-0.081516,-0.217059,-0.128692,-0.620189,-1.013732,0.580757,1.292985,...,-0.097732,-0.368352,-0.320530,0.191868,NaN,-0.352374,-0.391021,-0.593796,-0.220867,-0.147826
3,-3.232628,-0.636346,-0.233216,-0.081516,-0.217059,-0.128692,-0.620189,-1.822245,NaN,-0.032230,...,-0.097732,-0.368352,-0.320530,0.191868,NaN,3.845886,-0.391021,-1.609081,-0.220867,-0.147826
4,-0.660971,0.469894,-0.233216,-0.081516,-0.217059,-0.128692,-0.620189,-0.687913,0.580757,1.292985,...,-0.097732,-0.368352,-0.320530,-0.670025,-0.413560,-0.371878,-0.391021,-0.145778,-0.220867,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4559,-0.786537,0.567249,-0.233216,-0.081516,-0.217059,-0.128692,-0.620189,-0.941327,0.580757,-0.032230,...,-0.097732,-0.368352,-0.320530,-0.670025,-0.333051,0.987055,-0.391021,-0.810285,-0.220867,-0.147826
4560,-1.456332,-0.576006,-0.233216,NaN,-0.217059,-0.128692,-0.620189,-0.217285,-0.919499,-1.357445,...,-0.097732,-0.368352,-0.320530,0.191868,-0.280775,0.138981,-0.391021,-0.693530,-0.220867,-0.147826
4561,-0.538691,0.594036,-0.233216,-0.081516,-0.217059,-0.128692,-0.620189,-0.805913,0.580757,-0.032230,...,NaN,-0.368352,-0.320530,-0.670025,-0.412428,0.155474,-0.391021,-0.484217,-0.220867,-0.147826
4562,0.013934,1.281056,-0.233216,-0.081516,-0.217059,-0.128692,-0.620189,NaN,0.580757,0.630377,...,-0.097732,-0.368352,-0.320530,-0.670025,NaN,0.691418,-0.391021,-0.250759,-0.220867,-0.147826
4563,-1.058169,-0.414347,-0.233216,-0.081516,-0.217059,-0.128692,-0.620189,-1.413567,-0.169371,-0.694838,...,NaN,-0.368352,1.221799,1.053760,-0.955210,-0.033225,1.072983,-1.415928,-0.220867,-0.147826

In [10]:
#Criação do train + test e validation set
df1=pd.DataFrame(X,columns=y)
df1
df2=df1.join(new_y)
X=df2.values
y=df2.columns
df3=pd.DataFrame(X,columns=y)
df3

,SpMax_L,J_Dz(e),nHM,F01,F04,NssssC,nCb,C,nCp,nO,...,C_026,F02_CN,nHDon,SpMax_B,Psi_i_A,nN,SM6_B,nArCOOR,nX,Biodegradable
0,3.919000,2.690900,0.0,0.0,0.0,0.0,0.0,31.400000,2.0,0.0,...,0.0,0.0,0.0,2.949000,1.591000,0.0,7.253000,0.0,0.0,1.0
1,4.170000,2.114400,0.0,0.0,0.0,0.0,0.0,30.800000,1.0,1.0,...,0.0,0.0,0.0,3.315000,1.967000,0.0,7.257000,0.0,0.0,1.0
2,3.932000,3.251200,0.0,0.0,0.0,0.0,0.0,26.700000,2.0,4.0,...,0.0,0.0,1.0,NaN,2.417000,0.0,7.601000,0.0,0.0,1.0
3,3.000000,2.709800,0.0,0.0,0.0,0.0,0.0,20.000000,NaN,2.0,...,0.0,0.0,1.0,NaN,5.000000,0.0,6.690000,0.0,0.0,1.0
4,4.236000,3.394400,0.0,0.0,0.0,0.0,0.0,29.400000,2.0,4.0,...,0.0,0.0,0.0,3.351000,2.405000,0.0,8.003000,0.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4559,4.175650,3.454649,0.0,0.0,0.0,0.0,0.0,27.300000,2.0,2.0,...,0.0,0.0,0.0,3.398382,3.241090,0.0,7.406748,0.0,0.0,1.0
4560,3.853731,2.747142,0.0,NaN,0.0,0.0,0.0,33.300000,0.0,0.0,...,0.0,0.0,1.0,3.429148,2.719309,0.0,7.511511,0.0,0.0,1.0
4561,4.294771,3.471226,0.0,0.0,0.0,0.0,0.0,28.422154,2.0,2.0,...,0.0,0.0,0.0,3.351666,2.729456,0.0,7.699324,0.0,0.0,1.0
4562,4.560376,3.896390,0.0,0.0,0.0,0.0,0.0,NaN,2.0,3.0,...,0.0,0.0,0.0,NaN,3.059198,0.0,7.908802,0.0,0.0,1.0
4563,4.045097,2.847185,0.0,0.0,0.0,0.0,0.0,23.386643,1.0,1.0,...,0.0,2.0,2.0,3.032224,2.613357,1.0,6.863314,0.0,0.0,1.0

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=355, random_state=355)

ValueError: Found input variables with inconsistent numbers of samples: [4564, 42]